<a href="https://colab.research.google.com/github/shameer-phy/ML/blob/main/Hackathons/macinehack/Workation_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
from google.colab import drive 

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
# Lets read the training dataset and tes dataset

wp = pd.read_csv('/content/gdrive/My Drive/Datasets/machinehack/Train.csv')
 
wp_test = pd.read_csv('/content/gdrive/My Drive/Datasets/machinehack/Test.csv')

In [ ]:
wp.head()
wp.isnull().sum()

Uniq Id                       0
Package Name                  0
Package Type                  0
Destination                   0
Itinerary                     0
Places Covered                0
Travel Date                   0
Hotel Details                 0
Start City                    0
Airline                       0
Flight Stops                  0
Meals                         0
Sightseeing Places Covered    0
Cancellation Rules            0
Per Person Price              0
dtype: int64

In [ ]:
wp.nunique()

Uniq Id                       21000
Package Name                   2204
Package Type                      5
Destination                     565
Itinerary                       966
Places Covered                  565
Travel Date                     495
Hotel Details                  6060
Start City                        2
Airline                         314
Flight Stops                      3
Meals                             4
Sightseeing Places Covered     1714
Cancellation Rules               10
Per Person Price              17138
dtype: int64

In [ ]:
wp.shape

(21000, 15)

In [ ]:
wp.dtypes

Uniq Id                        object
Package Name                   object
Package Type                   object
Destination                    object
Itinerary                      object
Places Covered                 object
Travel Date                    object
Hotel Details                  object
Start City                     object
Airline                        object
Flight Stops                    int64
Meals                           int64
Sightseeing Places Covered     object
Cancellation Rules             object
Per Person Price              float64
dtype: object

In [ ]:
wp = wp.drop(['Uniq Id'],axis=1)

In [ ]:
wp_test = wp_test.drop(['Uniq Id'],axis=1)

In [ ]:
wp.dtypes
wp_test.dtypes

Package Name                  object
Package Type                  object
Destination                   object
Itinerary                     object
Places Covered                object
Travel Date                   object
Hotel Details                 object
Start City                    object
Airline                       object
Flight Stops                   int64
Meals                          int64
Sightseeing Places Covered    object
Cancellation Rules            object
dtype: object

In [ ]:
pip install researchpy

Collecting researchpy
  Downloading https://files.pythonhosted.org/packages/4b/a3/b16ea25a5416f7c35824b2fc3ee1cdc9f9d8ab6d9fc4119679504d43b8a8/researchpy-0.2.3-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.1.5)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from researchpy) (0.10.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.2.3

In [ ]:
def chi2test(x,y):
  import researchpy as rp
  t = rp.crosstab(wp[x],wp[y],test='chi-square')
  if t[1].iloc[1,1] < 0.05:
    print(t[0])
    print('Depedent. Drop a variable')
  else:
    print('Independent. Keep both')

In [ ]:
obj_cols = wp.select_dtypes(include='object').columns

In [ ]:
obj_cols

Index(['Package Name', 'Package Type', 'Destination', 'Itinerary',
       'Places Covered', 'Travel Date', 'Hotel Details', 'Start City',
       'Airline', 'Sightseeing Places Covered', 'Cancellation Rules'],
      dtype='object')

In [ ]:
drop_cols=[]
chi2test(obj_cols[0],obj_cols[1])

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                                                   Package Type  ...
Package Type                                             Budget  ...    All
Package Name                                                     ...
02 Night Singapore and 02 Night Genting Dream C...            0  ...      1
2 Nights Dubai and 2 Nights Sharjah Holiday                   0  ...     11
2 Nights Moscow & 2 Nights Saint Petersburg                   0  ...      3
2 Nights each in Jodhpur & Jaisalmer                          0  ...      9
2 Nights in Munnar with Thekkady and Cochin                   0  ...     11
...                                                         ...  ...    ...
Young and Free - Party Trip to Goa from Pune (B...            0  ...      4
Young and Free - Udaipur Weekend from Ahmedabad...            0  ...      2
Young and Free - Wayanad                                      0  ...      4
test pacakge                                                  0  ...      2
All                                                         466  ...  21000

[2205 rows x 6 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[0])

In [ ]:
chi2test(obj_cols[1],obj_cols[2])

             Destination                       ...
Destination    Abu Dhabi Abu Dhabi|Dubai Agra  ... Wayanad Yala|Colombo    All
Package Type                                   ...
Budget                 0               0    0  ...       7            0    466
Deluxe                13               0    9  ...       7            6   6006
Luxury                 2               0    4  ...       9            0   3278
Premium                5               0    8  ...       9            0   5581
Standard               7               4    5  ...       7            5   5669
All                   27               4   26  ...      39           11  21000

[6 rows x 566 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[2])

In [ ]:
chi2test(obj_cols[1],obj_cols[3])

             Itinerary  ...
Itinerary      1N Agra  ...    All
Package Type            ...
Budget               0  ...    466
Deluxe               2  ...   6006
Luxury               4  ...   3278
Premium              0  ...   5581
Standard             1  ...   5669
All                  7  ...  21000

[6 rows x 967 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[3])

In [ ]:
obj_cols

Index(['Package Name', 'Package Type', 'Destination', 'Itinerary',
       'Places Covered', 'Travel Date', 'Hotel Details', 'Start City',
       'Airline', 'Sightseeing Places Covered', 'Cancellation Rules'],
      dtype='object')

In [ ]:
chi2test(obj_cols[1],obj_cols[3])

             Itinerary  ...
Itinerary      1N Agra  ...    All
Package Type            ...
Budget               0  ...    466
Deluxe               2  ...   6006
Luxury               4  ...   3278
Premium              0  ...   5581
Standard             1  ...   5669
All                  7  ...  21000

[6 rows x 967 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[3])

In [ ]:
chi2test(obj_cols[1],obj_cols[4])

               Places Covered                       ...
Places Covered      Abu Dhabi Abu Dhabi|Dubai Agra  ... Wayanad Yala|Colombo    All
Package Type                                        ...
Budget                      0               0    0  ...       7            0    466
Deluxe                     13               0    9  ...       7            6   6006
Luxury                      2               0    4  ...       9            0   3278
Premium                     5               0    8  ...       9            0   5581
Standard                    7               4    5  ...       7            5   5669
All                        27               4   26  ...      39           11  21000

[6 rows x 566 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[4])

In [ ]:
chi2test(obj_cols[1],obj_cols[5])

             Travel Date                        ...
Travel Date   01-01-2021 01-01-2022 01-02-2021  ... 31-10-2021 31-12-2021    All
Package Type                                    ...
Budget                 0          0          0  ...          1          0    466
Deluxe                 0         11          6  ...         16          7   6006
Luxury                 0          1          2  ...          6          4   3278
Premium                1          9         14  ...         14          5   5581
Standard               0          6         10  ...         20          8   5669
All                    1         27         32  ...         57         24  21000

[6 rows x 496 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[5])

In [ ]:
chi2test(obj_cols[1],obj_cols[6])

                                                                                                                                 Hotel Details  ...
Hotel Details 175 Metropolitan Executive Motel on Riccarton:4.5|Arrowtown House Boutique Accommodation:5.0|Jet Park Hotel Auckland Airport:4.5  ...    All
Package Type                                                                                                                                    ...
Budget                                                         0                                                                                ...    466
Deluxe                                                         1                                                                                ...   6006
Luxury                                                         0                                                                                ...   3278
Premium                                                        0                                                                                ...   5581
Standard                                                       0                                                                                ...   5669
All                                                            1                                                                                ...  21000

[6 rows x 6061 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[6])
drop_cols

['Package Name',
 'Destination',
 'Itinerary',
 'Itinerary',
 'Places Covered',
 'Travel Date',
 'Hotel Details']

In [ ]:
chi2test(obj_cols[1],obj_cols[7])

             Start City
Start City       Mumbai New Delhi    All
Package Type
Budget              117       349    466
Deluxe             2141      3865   6006
Luxury             1112      2166   3278
Premium            1931      3650   5581
Standard           1966      3703   5669
All                7267     13733  21000
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[7])

In [ ]:
chi2test(obj_cols[1],obj_cols[8])

                                         Airline  ...
Airline      Aeroflot|Aeroflot|Aeroflot|Aeroflot  ...    All
Package Type                                      ...
Budget                                         0  ...    466
Deluxe                                         0  ...   6006
Luxury                                         1  ...   3278
Premium                                        0  ...   5581
Standard                                       0  ...   5669
All                                            1  ...  21000

[6 rows x 315 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[8])

In [ ]:
chi2test(obj_cols[1],obj_cols[9])

                                                                            Sightseeing Places Covered  ...
Sightseeing Places Covered  3 Full Day Sightseeing Tours with Return Airport Transfer on Shared Basis   ...    All
Package Type                                                                                            ...
Budget                                                                      0                           ...    466
Deluxe                                                                      2                           ...   6006
Luxury                                                                      1                           ...   3278
Premium                                                                     9                           ...   5581
Standard                                                                    0                           ...   5669
All                                                                        12                           ...  21000

[6 rows x 1715 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[9])

In [ ]:
chi2test(obj_cols[1],obj_cols[10])

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Cancellation Rules  ...
Cancellation Rules Cancellation any time after making the 1st payment instalment till the 2nd payment date:The entire amount paid as 1st payment instalment (deposit) would be non-refundable.Cancellation after 2nd payment instalment and before 3rd or final payment date:The total amount that was due at the 2nd payment instalment as per your payment schedule would be non-refundable; anything that you have paid over and above this amount would be refundable.Cancellation after 3rd or final payment date:The full amount paid by you would be non-refundable.  ...    All
Package Type                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
Budget                                                            316                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...    466
Deluxe                                                           5097                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...   6006
Luxury                                                           2661                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...   3278
Premium                                                          4689                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...   5581
Standard                                                         4811                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...   5669
All                                                             17574                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...  21000

[6 rows x 11 columns]
Depedent. Drop a variable

In [ ]:
drop_cols.append(obj_cols[10])

In [ ]:
drop_cols.remove('Itinerary')

In [ ]:
drop_cols

['Package Name',
 'Destination',
 'Itinerary',
 'Places Covered',
 'Travel Date',
 'Hotel Details',
 'Start City',
 'Airline',
 'Sightseeing Places Covered',
 'Cancellation Rules']

In [ ]:
drop_cols.remove('Package Name')
drop_cols.append('Package Type')

In [ ]:
drop_cols

['Destination',
 'Itinerary',
 'Places Covered',
 'Travel Date',
 'Hotel Details',
 'Start City',
 'Airline',
 'Sightseeing Places Covered',
 'Cancellation Rules',
 'Package Type']

In [ ]:
new_wp = wp.drop(drop_cols,axis=1)
new_wptest = wp_test.drop(drop_cols,axis=1)

In [ ]:
new_wp.head()
new_wptest.head()

                                        Package Name  Flight Stops  Meals
0     Goa 5N stay with flights & Transfers-North Goa             0      4
1  Into the Wild - Weekend at Bandipur National Park             0      4
2  Unforgettable Munnar Getaway - Private Picnic ...             2      3
3      Munnar for Adventure Lovers - Top Valley Trek             1      3
4           Splendours of Kerala - Make your own Tea             0      4

In [ ]:
new_wp['Package Name'] = pd.factorize(new_wp['Package Name'])[0]

In [ ]:
new_wptest['Package Name'] = pd.factorize(new_wptest['Package Name'])[0]

In [ ]:
new_wp['Per Person Price'].max()
new_wp['Per Person Price'].min()

791.0

In [ ]:
new_wp.nunique()

Package Name         2204
Flight Stops            3
Meals                   4
Per Person Price    17138
dtype: int64

In [ ]:
new_wp.head()
new_wp.dtypes
new_wptest.head()

   Package Name  Flight Stops  Meals
0             0             0      4
1             1             0      4
2             2             2      3
3             3             1      3
4             4             0      4

#Lets split X,Y and train,test data

In [ ]:
X = new_wp.drop('Per Person Price',axis=1)
Y = new_wp['Per Person Price']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,random_state=13)

In [ ]:
xtrain

       Package Name  Flight Stops  Meals
2642            539             0      5
5557           1437             1      3
11698           690             0      5
11126          1718             1      3
9082           2009             0      5
...             ...           ...    ...
153             145             0      5
866             105             1      3
74               72             0      5
14512           195             0      4
338             312             1      3

[15750 rows x 3 columns]

#lets try fitting Linear model and check

In [ ]:
def write_report(name):
  report = pd.DataFrame(ypred,columns=['Per Person Price'])
  report.to_csv('/content/gdrive/My Drive/Datasets/machinehack/' + name ,index=False)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
ypred = lr.predict(xtest)
mean_squared_log_error(ytest,ypred)
mean_squared_error(ytest,ypred)

118678952.0959701

In [ ]:
lr = LinearRegression()
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
ypred = lr.predict(new_wptest)
write_report('linreg.csv')

In [ ]:
ypred.max()
ypred.min()

14593.82314152562

# Lets try Decision tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(xtrain,ytrain)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
ypred = dt.predict(xtest)
mean_squared_error(ytest,ypred)

44311176.60994544

In [ ]:
lst = []
for x in range(50,90):
  dt = DecisionTreeRegressor(max_depth=x)
  dt.fit(xtrain,ytrain)
  ypred = dt.predict(xtest)
  lst.append((x,mean_squared_error(ytest,ypred)))

In [ ]:
lst

[(50, 44945129.86889935),
 (51, 44756530.227688685),
 (52, 44785493.31034043),
 (53, 44367837.48766909),
 (54, 44773555.83952513),
 (55, 44883084.33347917),
 (56, 44690307.29542593),
 (57, 44420446.93774537),
 (58, 44809466.19716304),
 (59, 44836069.86072124),
 (60, 44365167.56643982),
 (61, 44272747.47931978),
 (62, 44321621.39894775),
 (63, 44565449.65321925),
 (64, 44488675.69061211),
 (65, 44362819.285303906),
 (66, 44421318.12000066),
 (67, 44689401.9443016),
 (68, 44890959.97694214),
 (69, 44714394.312104836),
 (70, 44372804.51728671),
 (71, 44746025.040025465),
 (72, 44380076.65226522),
 (73, 44659300.47399207),
 (74, 44759991.464366406),
 (75, 44461445.773297295),
 (76, 44531736.523399144),
 (77, 44492045.53778935),
 (78, 44445979.23967692),
 (79, 44467525.44962269),
 (80, 44591231.72187005),
 (81, 44516882.923523486),
 (82, 44829850.48025001),
 (83, 44792377.10184161),
 (84, 44752239.85208731),
 (85, 44832235.257647164),
 (86, 44680704.137032084),
 (87, 44542303.21181549),
 (88, 44339093.22074174),
 (89, 44711681.040816136)]

In [ ]:
from sklearn.ensemble import BaggingRegressor
dt = DecisionTreeRegressor(max_depth=60)
br = BaggingRegressor(base_estimator=dt,n_estimators=100)
br.fit(xtrain,ytrain)
ypred = br.predict(xtest)
mean_squared_error(ytest,ypred)

43022150.49587258

In [ ]:
from sklearn.ensemble import BaggingRegressor
dt = DecisionTreeRegressor(max_depth=60)
br = BaggingRegressor(base_estimator=dt,n_estimators=100)
br.fit(X,Y)
ypred = br.predict(new_wptest)

In [ ]:
write_report('dt_bagg.csv')

In [ ]:
from sklearn.ensemble import RandomForestRegressor
lst = []
for x in range(80,130):
  rf = RandomForestRegressor(n_estimators=x)
  rf.fit(xtrain,ytrain)
  ypred = rf.predict(xtest)
  lst.append((x,mean_squared_error(ytest,ypred)))

In [ ]:
lst

[(80, 42651814.03062091),
 (81, 42796834.6586817),
 (82, 42931886.09472905),
 (83, 42757922.03725126),
 (84, 43078528.99354618),
 (85, 43004430.19502398),
 (86, 42735091.410131626),
 (87, 42700273.23888581),
 (88, 43107576.388744675),
 (89, 42966129.71886271),
 (90, 42395759.11034184),
 (91, 42650098.67511442),
 (92, 43086552.9307803),
 (93, 42764539.906508386),
 (94, 43163519.43240662),
 (95, 42666146.93528241),
 (96, 43219562.68150122),
 (97, 42829290.65418931),
 (98, 43148627.76036392),
 (99, 42781288.47927362),
 (100, 42797684.63934583),
 (101, 43083197.17786284),
 (102, 43046518.23381015),
 (103, 42858934.70421964),
 (104, 42734944.29058104),
 (105, 42868573.494043656),
 (106, 43053059.38924049),
 (107, 43130082.68388734),
 (108, 42804245.00328031),
 (109, 42648079.523847416),
 (110, 43161034.301931836),
 (111, 42950754.81144657),
 (112, 42420438.16006961),
 (113, 42583685.407671735),
 (114, 43030233.15690786),
 (115, 43014283.73307966),
 (116, 43024733.89637284),
 (117, 42482701.07391417),
 (118, 43271252.18730887),
 (119, 42666681.423309),
 (120, 42582337.17226835),
 (121, 42742701.1976642),
 (122, 42748211.47137041),
 (123, 42888675.601491585),
 (124, 43221510.34043898),
 (125, 42931710.917799465),
 (126, 43282156.9891156),
 (127, 42723068.59359663),
 (128, 42592133.74298459),
 (129, 43215329.62939556)]

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()
gbr.fit(xtrain,ytrain)
ypred = gbr.predict(xtest)
mean_squared_error(ytest,ypred)

103777658.73407747

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
rf = RandomForestRegressor(n_estimators=87)
dt = DecisionTreeRegressor(max_depth=88)
lr = LinearRegression()
abr = AdaBoostRegressor(learning_rate=1,base_estimator=lr)
abr.fit(xtrain,ytrain)
ypred = abr.predict(xtest)
mean_squared_error(ytest,ypred)

126603680.97276612

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
rf = RandomForestRegressor(n_estimators=87)
dt = DecisionTreeRegressor(max_depth=88)
lr = LinearRegression()
abr = AdaBoostRegressor(learning_rate=1,base_estimator=lr)
abr.fit(X,Y)
ypred = abr.predict(new_wptest)

In [ ]:
write_report('lin_ada.csv')

In [ ]:
rf = RandomForestRegressor(max_depth=60)
rf.fit(xtrain,ytrain)
ypred = rf.predict(xtest)
mean_squared_error(ytest,ypred)

43031684.44644206

In [ ]:
rf = RandomForestRegressor(max_depth=60)
rf.fit(X,Y)
ypred = rf.predict(new_wptest)

In [ ]:
write_report('rf.csv')

# Lets factorize all the object columns withoug removing them and check

In [ ]:
X = wp.drop(['Per Person Price'],axis=1)
Y = wp['Per Person Price']

In [ ]:
for x in obj_cols:
  X[x] = pd.factorize(X[x])[0]

In [ ]:
X.head()

   Package Name  Package Type  ...  Sightseeing Places Covered  Cancellation Rules
0             0             0  ...                           0                   0
1             1             1  ...                           1                   1
2             2             2  ...                           2                   1
3             3             1  ...                           3                   1
4             4             1  ...                           4                   1

[5 rows x 13 columns]

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,Y)

In [ ]:
# lets try linear model
lm = LinearRegression()
lm.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
ypred = lm.predict(xtest)
mean_squared_error(ytest,ypred)

97711769.1352507

In [ ]:
# lets apply lasso on this
from sklearn.linear_model import Lasso
las = Lasso(alpha=0.1)
las.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 120753637072.81213, tolerance: 216020774.9180075
  positive)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
ypred = las.predict(xtest)
mean_squared_error(ytest,ypred)
las.coef_

array([-2.84222989e+00, -1.10426810e+03,  3.85677163e+00,  7.82952997e+00,
       -1.04130396e+01, -1.60328721e+00,  8.42496962e-01, -7.99292035e+02,
        1.41442318e+02, -5.68900594e+03, -1.15751143e+03,  2.76162191e+00,
       -3.71743788e+03])