<a href="https://colab.research.google.com/github/shameer-phy/ML/blob/main/Hackathons/univ.ai/Loan_Default.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [3]:
from google.colab import drive 

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [4]:
# Lets read the training dataset and tes dataset

ld = pd.read_csv('/content/gdrive/My Drive/Datasets/univ.ai/Training Data.csv')
 
ld_test = pd.read_csv('/content/gdrive/My Drive/Datasets/univ.ai/Test Data.csv')

In [5]:
ld.head()

ld.count()

ld.dtypes

Id                      int64
income                  int64
age                     int64
experience              int64
married                object
house_ownership        object
car_ownership          object
profession             object
city                   object
state                  object
current_job_years       int64
current_house_years     int64
risk_flag               int64
dtype: object

In [ ]:
for x in ld.columns:
    print('\n')
    print(x)
    print(len(ld[x].unique()))
    print(ld[x].value_counts())

Id
252000
2047     1
64074    1
59976    1
37447    1
39494    1
        ..
95620    1
85379    1
83330    1
89473    1
2049     1
Name: Id, Length: 252000, dtype: int64


income
41917
7936020    77
9775375    71
1996629    71
9345456    70
7638998    40
           ..
5446449     1
7330601     1
3377955     1
2779935     1
7907349     1
Name: income, Length: 41917, dtype: int64


age
59
27    5197
66    5092
48    4967
33    4921
41    4827
45    4806
54    4785
68    4772
35    4644
50    4624
69    4617
76    4585
55    4563
25    4543
72    4534
79    4505
60    4504
59    4498
53    4490
47    4483
30    4468
78    4455
22    4430
34    4414
57    4394
58    4368
56    4344
24    4326
23    4322
62    4311
31    4257
70    4251
61    4235
40    4233
43    4206
21    4205
49    4203
26    4156
37    4153
71    4149
42    4134
64    4132
29    4109
67    3995
65    3969
74    3954
63    3942
77    3916
28    3901
32    3834
75    3829
39    3800
38    3793
46    3627
44    3622
73    3569
36    3443
51    3397
52    3197
Name: age, dtype: int64


experience
21
6     13158
9     12936
12    12800
18    12601
10    12503
5     12441
14    12369
19    12287
17    12131
16    12106
3     12069
15    11993
4     11807
13    11713
1     11575
11    11449
20    11350
8     11350
7     11232
2     11087
0     11043
Name: experience, dtype: int64


married
2
0    226272
1     25728
Name: married, dtype: int64


house_ownership
3
0    231898
2     12918
1      7184
Name: house_ownership, dtype: int64


car_ownership
2
0    176000
1     76000
Name: car_ownership, dtype: int64


profession
51
9     5957
41    5806
42    5397
32    5390
23    5372
40    5359
33    5357
30    5304
11    5281
20    5259
49    5250
0     5217
17    5205
2     5195
18    5178
10    5167
22    5166
6     5128
21    5127
25    5061
1     5053
24    5041
13    5035
26    4990
12    4944
29    4881
28    4864
14    4861
34    4818
43    4808
19    4782
47    4781
46    4772
31    4758
50    4737
16    4729
15    4714
39    4672
38    4668
45    4661
7     4657
44    4635
4     4628
48    4616
8     4598
5     4573
35    4507
27    4493
3     4413
37    4087
36    4048
Name: profession, dtype: int64


city
317
168    1259
160    1208
127    1185
210    1180
283    1172
       ...
222     486
125     459
299     457
314     448
302     431
Name: city, Length: 317, dtype: int64


state
29
14    28400
1     25562
9     25297
10    23483
8     19780
4     16537
0     14122
13    11855
5     11408
6      9174
19     8965
11     7890
7      7524
21     7062
2      5805
23     5490
16     4720
3      4658
24     3834
18     1874
22     1780
12     1433
20      849
27      849
15      833
17      809
26      743
25      656
28      608
Name: state, dtype: int64


current_job_years
15
3     29460
4     28339
5     25091
6     23491
7     19925
8     18874
9     17132
10    15768
11    13595
1     11575
2     11087
0     11043
12    10605
13     9099
14     6916
Name: current_job_years, dtype: int64


current_house_years
5
11    51873
12    51791
13    50659
14    49003
10    48674
Name: current_house_years, dtype: int64


risk_flag
2
0    221004
1     30996
Name: risk_flag, dtype: int64

In [ ]:
obj_cols = ld.select_dtypes(include=['object'])
obj_cols

        married house_ownership  ...                 city           state
0        single          rented  ...                 Rewa  Madhya_Pradesh
1        single          rented  ...             Parbhani     Maharashtra
2       married          rented  ...            Alappuzha          Kerala
3        single          rented  ...          Bhubaneswar          Odisha
4        single          rented  ...  Tiruchirappalli[10]      Tamil_Nadu
...         ...             ...  ...                  ...             ...
251995   single          rented  ...              Kolkata     West_Bengal
251996   single          rented  ...                 Rewa  Madhya_Pradesh
251997   single          rented  ...      Kalyan-Dombivli     Maharashtra
251998   single          rented  ...          Pondicherry      Puducherry
251999   single          rented  ...                Avadi      Tamil_Nadu

[252000 rows x 6 columns]

In [ ]:
for x in obj_cols.columns:
  ld[x] = pd.factorize(ld[x])[0]

In [ ]:
ld.head()

   Id   income  age  ...  current_job_years  current_house_years  risk_flag
0   1  1303835   23  ...                  3                   13          0
1   2  7574516   40  ...                  9                   13          0
2   3  3991815   66  ...                  4                   10          0
3   4  6256451   41  ...                  2                   12          1
4   5  5768871   47  ...                  3                   14          1

[5 rows x 13 columns]

In [ ]:
for x in obj_cols.columns:
  ld_test[x] = pd.factorize(ld_test[x])[0]
ld_test.head()

   id   income  age  ...  state  current_job_years  current_house_years
0   1  7393090   59  ...      0                  4                   13
1   2  1215004   25  ...      1                  5                   10
2   3  8901342   50  ...      1                  9                   14
3   4  1944421   49  ...      1                  3                   12
4   5    13429   25  ...      0                 13                   11

[5 rows x 12 columns]

#Lets split X,Y as well as train and test sets

In [ ]:
X = ld.drop(['Id','risk_flag'],axis=1)
Y = ld['risk_flag']

In [ ]:
Xtest = ld_test.drop(['id'],axis=1)

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,random_state=13)

In [ ]:
xtrain.shape
ytrain.shape
xtest.shape
ytest.shape

(63000,)

#Lets fit a Logistic model and check accuracy

In [ ]:
#function to write report
def write_report(name):
  report = pd.concat([ld_test['id'],pd.DataFrame(ypred,columns=['risk_flag'])],axis=1)
  report.to_csv('/content/gdrive/My Drive/Datasets/univ.ai/' + name ,index=False)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
log_mod = LogisticRegression()
scores = cross_val_score(log_mod,xtrain,ytrain,scoring='roc_auc')
scores

array([0.50196728, 0.49528195, 0.50506802, 0.50772664, 0.50412322])

In [ ]:
ypred = log_mod.fit(xtrain,ytrain).predict(xtest)

In [ ]:
roc_auc_score(ytest,ypred)

0.5

In [ ]:
auc = cross_val_score(log_mod,X,Y,scoring='accuracy')
auc

array([0.87700397, 0.87700397, 0.87700397, 0.87700397, 0.87698413])

#Lets fit a DecisionTree and check

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
scores = cross_val_score(DT,xtrain,ytrain,scoring='roc_auc')
scores

array([0.84760544, 0.8496886 , 0.85379602, 0.85253173, 0.85345652])

In [ ]:
ypred = DT.fit(xtrain,ytrain).predict(xtest)
roc_auc_score(ytest,ypred)

0.7502345272877026

In [ ]:
auc = cross_val_score(DT,X,Y,scoring='accuracy')
auc

array([0.93107143, 0.92253968, 0.90876984, 0.88700397, 0.73238095])

#Decions tree looks more promising than logistic
#Lets try Randomforest and check

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(max_features = 0.5,n_estimators=200)
scores = cross_val_score(RF,xtrain,ytrain,scoring='roc_auc')
scores

array([0.93747953, 0.93765926, 0.93854006, 0.93925197, 0.9372049 ])

In [ ]:
ypred = RF.fit(xtrain,ytrain).predict(xtest)
roc_auc_score(ytest,ypred)

0.7410637183719415

In [ ]:
ypred = RF.fit(xtrain,ytrain).predict(Xtest)

In [ ]:
write_report('rf_output.csv')

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(max_features = 0.6,n_estimators=100)
auc_roc = cross_val_score(RF,X,Y,scoring='roc_auc')
auc_roc

array([0.97495546, 0.96832583, 0.95781029, 0.93612737, 0.65070217])

In [ ]:

RF = RandomForestClassifier(max_features = 0.5,n_estimators=100)
RF.fit(X,Y)
ypred = RF.predict(Xtest)

In [ ]:
report = pd.concat([ld_test['id'],pd.DataFrame(ypred,columns=['risk_flag'])],axis=1)
report

          id  risk_flag
0          1          0
1          2          0
2          3          0
3          4          0
4          5          0
...      ...        ...
27995  27996          0
27996  27997          0
27997  27998          0
27998  27999          0
27999  28000          0

[28000 rows x 2 columns]

In [ ]:
report.to_csv('/content/gdrive/My Drive/Datasets/univ.ai/output.csv',index=False)

#Take the oupput file of logistic reg

In [ ]:
log_mod = LogisticRegression()
log_mod.fit(X,Y)
ypred = log_mod.predict(Xtest)
report = pd.concat([ld_test['id'],pd.DataFrame(ypred,columns=['risk_flag'])],axis=1)
report.to_csv('/content/gdrive/My Drive/Datasets/univ.ai/logmod_output.csv',index=False)

In [ ]:
write_report('logmod1.csv')

#Lets try KNN and check

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=17)
scores = cross_val_score(knn,xtrain,ytrain,scoring='roc_auc')
scores

array([0.88673756, 0.88626517, 0.88754896, 0.89081704, 0.88968175])

In [ ]:
knn.fit(xtrain,ytrain)
ypred = knn.predict(xtest)
roc_auc_score(ytest,ypred)

0.745858353659777

In [ ]:
ypred = knn.predict(Xtest)
write_report('knn_output.csv')

In [ ]:
from sklearn.ensemble import BaggingClassifier
knn = KNeighborsClassifier(n_neighbors=17)
bc = BaggingClassifier(base_estimator=knn,n_estimators=100)
bc.fit(xtrain,ytrain)

AttributeError: ignored

In [ ]:
ypred = bc.predict(xtest)
roc_auc_score(ytest,ypred)

0.7466217025318687

In [ ]:
from sklearn.ensemble import BaggingClassifier
knn = KNeighborsClassifier(n_neighbors=17)
bc = BaggingClassifier(base_estimator=knn,n_estimators=100)
bc.fit(X,Y)
ypred = bc.predict(xtest)
roc_auc_score(ytest,ypred)

0.7568753689598168

In [ ]:
ypred = bc.predict(Xtest)
write_report('knnfullbagging_output.csv')

#Lets apply boosting on different algos

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
dt = DecisionTreeClassifier()
abc = AdaBoostClassifier(n_estimators=200,learning_rate=0.3)

In [ ]:
abc.fit(xtrain,ytrain)
ypred = abc.predict(xtest)
roc_auc_score(ytest,ypred)

0.500578927055191

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_features=0.5,n_estimators=100)
abc = AdaBoostClassifier(base_estimator=rf,n_estimators=50,random_state=13)

In [ ]:
abc.fit(xtrain,ytrain)
ypred = abc.predict(xtest)
roc_auc_score(ytest,ypred)

0.7434485039700396

In [ ]:
ypred = abc.predict(Xtest)
write_report('ada_RF_output.csv')

In [ ]:
#Applying gradient boosting

from sklearn.ensemble import GradientBoostingClassifier
dt = DecisionTreeClassifier()
gbc = GradientBoostingClassifier(n_estimators=200)

In [ ]:
gbc.fit(xtrain,ytrain)
ypred = gbc.predict(xtest)
roc_auc_score(ytest,ypred)

0.502400041394013

#applying boost on logistic

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
from sklearn.ensemble import RandomForestClassifier
abc = AdaBoostClassifier(base_estimator=lr,n_estimators=200,learning_rate=0.5)

In [ ]:
abc.fit(xtrain,ytrain)
ypred = abc.predict(xtest)
roc_auc_score(ytest,ypred)

0.5

#Lets try Naive Bayes and check

In [ ]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()
mnb.fit(xtrain,ytrain)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
ypred = mnb.predict(xtest)
roc_auc_score(ytest,ypred)

0.5133683052362875

In [ ]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
bnb.fit(xtrain,ytrain)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [ ]:
ypred = bnb.predict(xtest)
roc_auc_score(ytest,ypred)

0.5

# Lets import the data again and apply chi-square test to eliminate categorical columns

In [6]:
ldnew = pd.read_csv('/content/gdrive/My Drive/Datasets/univ.ai/Training Data.csv')
 
ldnew_test = pd.read_csv('/content/gdrive/My Drive/Datasets/univ.ai/Test Data.csv')

In [7]:
#function to write report
def write_report(name):
  report = pd.concat([ldnew_test['id'],pd.DataFrame(ypred,columns=['risk_flag'])],axis=1)
  report.to_csv('/content/gdrive/My Drive/Datasets/univ.ai/' + name ,index=False)

In [8]:
ldnew.head()

   Id   income  age  ...  current_job_years current_house_years risk_flag
0   1  1303835   23  ...                  3                  13         0
1   2  7574516   40  ...                  9                  13         0
2   3  3991815   66  ...                  4                  10         0
3   4  6256451   41  ...                  2                  12         1
4   5  5768871   47  ...                  3                  14         1

[5 rows x 13 columns]

In [9]:
obj_cols = ldnew.select_dtypes(include=['object'])
obj_cols = obj_cols.columns

In [10]:
!pip install researchpy
def chi2test(x,y):
  import researchpy as rp
  t = rp.crosstab(ldnew[x],ldnew[y],test='chi-square')
  if t[1].iloc[1,1] < 0.05:
    print(t[0])
    print('Depedent. Drop a variable')
  else:
    print('Independent. Keep both')

Collecting researchpy
  Downloading https://files.pythonhosted.org/packages/4b/a3/b16ea25a5416f7c35824b2fc3ee1cdc9f9d8ab6d9fc4119679504d43b8a8/researchpy-0.2.3-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.19.5)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from researchpy) (0.10.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.4.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.4.0->statsmodels->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.2.3

In [11]:
chi2test(obj_cols[0],obj_cols[1])

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                house_ownership
house_ownership    norent_noown  owned  rented     All
married
married                     595    923   24210   25728
single                     6589  11995  207688  226272
All                        7184  12918  231898  252000
Depedent. Drop a variable

In [12]:
chi2test(obj_cols[2],obj_cols[1])

Independent. Keep both

In [13]:
drop_cols = []
drop_cols.append(obj_cols[0])

In [14]:
chi2test(obj_cols[3],obj_cols[1])

                           house_ownership
house_ownership               norent_noown  owned  rented     All
profession
Air_traffic_controller                 158    206    4917    5281
Analyst                                122    182    4364    4668
Architect                              143    441    4073    4657
Army_officer                           190    292    4179    4661
Artist                                  58    300    4503    4861
Aviator                                 93    438    4227    4758
Biomedical_Engineer                    248    252    4627    5127
Chartered_Accountant                   132    250    4111    4493
Chef                                    94    154    4387    4635
Chemical_engineer                      201    292    4712    5205
Civil_engineer                         138    340    4138    4616
Civil_servant                          126    263    4024    4413
Comedian                               206    275    4778    5259
Computer_hardware_engineer             190    216    4966    5372
Computer_operator                      201    253    4536    4990
Consultant                              96    141    4571    4808
Dentist                                125    218    4439    4782
Design_Engineer                        129    295    4305    4729
Designer                               138    216    4244    4598
Drafter                                 65    216    5078    5359
Economist                               90    182    4301    4573
Engineer                                60    149    3839    4048
Fashion_Designer                       165    349    4790    5304
Financial_Analyst                      186    438    4543    5167
Firefighter                             59     67    4381    4507
Flight_attendant                        92    143    4893    5128
Geologist                              163    360    4149    4672
Graphic_Designer                        92    293    4781    5166
Hotel_Manager                          201    184    4793    5178
Industrial_Engineer                    162    293    4795    5250
Lawyer                                  54    322    4442    4818
Librarian                               60    139    4429    4628
Magistrate                              96    439    4822    5357
Mechanical_engineer                    157    285    4775    5217
Microbiologist                         167    183    4531    4881
Official                                26    107    3954    4087
Petroleum_Engineer                     158    181    4702    5041
Physician                              141    248    5568    5957
Police_officer                         125    257    4653    5035
Politician                             209    107    4628    4944
Psychologist                            41    207    5142    5390
Scientist                              244    241    4296    4781
Secretary                               56    212    4793    5061
Software_Developer                     329    257    4467    5053
Statistician                           129    392    5285    5806
Surgeon                                166    323    4283    4772
Surveyor                               319    258    4137    4714
Technical_writer                        50    181    4964    5195
Technician                             168    346    4350    4864
Technology_specialist                  125    252    4360    4737
Web_designer                           241    283    4873    5397
All                                   7184  12918  231898  252000
Depedent. Drop a variable

In [15]:
drop_cols.append(obj_cols[3])

In [16]:
chi2test(obj_cols[4],obj_cols[1])

                 house_ownership
house_ownership     norent_noown  owned  rented     All
city
Adoni                          2      5     946     953
Agartala                      40     71     698     809
Agra                           3      7    1002    1012
Ahmedabad                      2     42     605     649
Ahmednagar                    43     39     563     645
...                          ...    ...     ...     ...
Vijayawada                    79    115     978    1172
Visakhapatnam[4]              37      8     926     971
Warangal[11][12]               3     11     445     459
Yamunanagar                  107      4     548     659
All                         7184  12918  231898  252000

[318 rows x 4 columns]
Depedent. Drop a variable

In [18]:
#drop_cols.append(obj_cols[4])
drop_cols.append(obj_cols[5])

In [ ]:
chi2test(obj_cols[5],obj_cols[1])

                  house_ownership
house_ownership      norent_noown  owned  rented     All
state
Andhra_Pradesh                752   1069   23476   25297
Assam                         133    222    6707    7062
Bihar                         657    805   18318   19780
Chandigarh                     41     45     570     656
Chhattisgarh                  125    214    3495    3834
Delhi                         236    406    4848    5490
Gujarat                       405    628   10375   11408
Haryana                       253    387    7250    7890
Himachal_Pradesh                7     43     783     833
Jammu_and_Kashmir              47     11    1722    1780
Jharkhand                     173    520    8272    8965
Karnataka                     361    729   10765   11855
Kerala                        206    150    5449    5805
Madhya_Pradesh                314    863   12945   14122
Maharashtra                   560   1256   23746   25562
Manipur                         6     44     799     849
Mizoram                        72      7     770     849
Odisha                        120    218    4320    4658
Puducherry                      8     43    1382    1433
Punjab                         84    369    4267    4720
Rajasthan                     226    433    8515    9174
Sikkim                         46     51     511     608
Tamil_Nadu                    542    701   15294   16537
Telangana                     223    543    6758    7524
Tripura                        40     71     698     809
Uttar_Pradesh                 753   1452   26195   28400
Uttar_Pradesh[5]               39     48     656     743
Uttarakhand                   118     83    1673    1874
West_Bengal                   637   1507   21339   23483
All                          7184  12918  231898  252000
Depedent. Drop a variable

In [20]:
obj_cols
#drop_cols.remove('profession')
drop_cols.append('house_ownership')

In [21]:
drop_cols

['married', 'city', 'state', 'house_ownership']

In [22]:
ldnew = ldnew.drop(drop_cols,axis=1)

In [23]:
ldnew = ldnew.drop('Id',axis=1)
ldnew.head()

    income  age  experience  ... current_job_years current_house_years  risk_flag
0  1303835   23           3  ...                 3                  13          0
1  7574516   40          10  ...                 9                  13          0
2  3991815   66           4  ...                 4                  10          0
3  6256451   41           2  ...                 2                  12          1
4  5768871   47          11  ...                 3                  14          1

[5 rows x 8 columns]

In [24]:
ldnew.corr()

                       income       age  ...  current_house_years  risk_flag
income               1.000000 -0.000652  ...            -0.002397  -0.003091
age                 -0.000652  1.000000  ...            -0.020134  -0.021809
experience           0.006422 -0.001118  ...             0.019309  -0.034523
current_job_years    0.007045  0.002154  ...             0.005372  -0.016942
current_house_years -0.002397 -0.020134  ...             1.000000  -0.004375
risk_flag           -0.003091 -0.021809  ...            -0.004375   1.000000

[6 rows x 6 columns]

In [25]:
ldnew = ldnew.drop('current_job_years',axis=1)
ldnew.head()

    income  age  ...  current_house_years risk_flag
0  1303835   23  ...                   13         0
1  7574516   40  ...                   13         0
2  3991815   66  ...                   10         0
3  6256451   41  ...                   12         1
4  5768871   47  ...                   14         1

[5 rows x 7 columns]

In [26]:
req_cols = list(ldnew.columns)
req_cols.remove('risk_flag')
ldnew_test = ldnew_test[req_cols]
ldnew_test.head()

    income  age  experience car_ownership   profession  current_house_years
0  7393090   59          19            no    Geologist                   13
1  1215004   25           5            no  Firefighter                   10
2  8901342   50          12            no       Lawyer                   14
3  1944421   49           9           yes      Analyst                   12
4    13429   25          18           yes     Comedian                   11

In [27]:
ldnew['profession'] = pd.factorize(ldnew['profession'])[0]
ldnew.head()

    income  age  experience  ... profession  current_house_years  risk_flag
0  1303835   23           3  ...          0                   13          0
1  7574516   40          10  ...          1                   13          0
2  3991815   66           4  ...          2                   10          0
3  6256451   41           2  ...          1                   12          1
4  5768871   47          11  ...          3                   14          1

[5 rows x 7 columns]

In [28]:
ldnew_test['profession'] = pd.factorize(ldnew_test['profession'])[0]
ldnew_test.head()

    income  age  experience car_ownership  profession  current_house_years
0  7393090   59          19            no           0                   13
1  1215004   25           5            no           1                   10
2  8901342   50          12            no           2                   14
3  1944421   49           9           yes           3                   12
4    13429   25          18           yes           4                   11

In [29]:
ldnew['car_ownership'] = pd.factorize(ldnew['car_ownership'])[0]
ldnew_test['car_ownership'] = pd.factorize(ldnew_test['car_ownership'])[0]

In [30]:
ldnew.head()
ldnew_test.head()

    income  age  experience  car_ownership  profession  current_house_years
0  7393090   59          19              0           0                   13
1  1215004   25           5              0           1                   10
2  8901342   50          12              0           2                   14
3  1944421   49           9              1           3                   12
4    13429   25          18              1           4                   11

#Lets split x,y, and train,test sets

In [31]:
X = ldnew.drop('risk_flag',axis=1)
Y = ldnew['risk_flag']
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,random_state=31)

In [32]:
xtrain.shape
ytrain.shape

(189000,)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

knn = KNeighborsClassifier(n_neighbors=17)
scores = cross_val_score(knn,xtrain,ytrain,scoring='roc_auc')
scores

array([0.88926524, 0.88983529, 0.88727405, 0.88874174, 0.88614783])

In [ ]:
knn = KNeighborsClassifier(n_neighbors=17)
knn.fit(xtrain,ytrain)
ypred = knn.predict(xtest)
roc_auc_score(ytest,ypred)

0.7518123603783472

In [ ]:
from sklearn.svm import LinearSVC
lsvc = LinearSVC()
scores = cross_val_score(lsvc,xtrain,ytrain,scoring='roc_auc')
scores

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

array([0.5133791 , 0.49710718, 0.52552606, 0.50251254, 0.49826398])

In [ ]:
from sklearn.svm import SVC
svc = SVC()
scores = cross_val_score(svc,xtrain,ytrain,scoring='roc_auc')
scores

array([0.50657365, 0.49730831, 0.50552217, 0.50592456, 0.49458117])

In [ ]:
from sklearn.svm import SVC
rvc = SVC()
#scores = cross_val_score(svc,xtrain,ytrain,scoring='roc_auc')
#scores

#Lets try Randomforest and check

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
scores = cross_val_score(DT,xtrain,ytrain,scoring='roc_auc')
scores

array([0.85027658, 0.85273439, 0.8511127 , 0.85563288, 0.84958367])

In [ ]:
lst = []
for x in range(20,60):
  DT =DecisionTreeClassifier(max_depth=x)
  DT.fit(xtrain,ytrain)
  ypred = DT.predict(xtest)
  lst.append((x,roc_auc_score(ytest,ypred)))

In [ ]:
lst

[(20, 0.7068534167454591),
 (21, 0.7200574790613992),
 (22, 0.7264379565023399),
 (23, 0.7303377000173414),
 (24, 0.7387348354921788),
 (25, 0.7414342480025359),
 (26, 0.746709863585805),
 (27, 0.7454629512202052),
 (28, 0.748730955432264),
 (29, 0.7519889546040993),
 (30, 0.7511712795273222),
 (31, 0.7529269323908457),
 (32, 0.7532774458105432),
 (33, 0.7531273070174657),
 (34, 0.7526153017169429),
 (35, 0.7528351177164597),
 (36, 0.752198765563393),
 (37, 0.752830115196348),
 (38, 0.753101515076932),
 (39, 0.7531042111719818),
 (40, 0.7528622577045181),
 (41, 0.7525827695387851),
 (42, 0.7529242362957962),
 (43, 0.7523063671380894),
 (44, 0.7520191803571952),
 (45, 0.7534262365560958),
 (46, 0.7524135790427983),
 (47, 0.7531756260959338),
 (48, 0.7532878405207541),
 (49, 0.7532724432904314),
 (50, 0.7528753485097787),
 (51, 0.7534986098575849),
 (52, 0.7531390497752014),
 (53, 0.7531765844734708),
 (54, 0.7523294629835734),
 (55, 0.7527613963674459),
 (56, 0.75274965360971),
 (57, 0.7526283925222034),
 (58, 0.7528206788636743),
 (59, 0.7525402323204041)]

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
log_mod = LogisticRegression()
scores = cross_val_score(log_mod,xtrain,ytrain,scoring='roc_auc')
scores

array([0.50810495, 0.51314066, 0.50969233, 0.50441404, 0.49794459])

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(max_features = 0.5,n_estimators=100)
scores = cross_val_score(RF,xtrain,ytrain,scoring='roc_auc')
scores

array([0.93634723, 0.93602928, 0.93588897, 0.93871755, 0.93618397])

In [ ]:
for x in range(20,61,5):
  for i in np.arange(0.1,1,0.2):
    rf = RandomForestClassifier(max_features = i,max_depth=x)
    rf.fit(xtrain,ytrain)
    ypred = rf.predict(xtest)
    print(x,i,roc_auc_score(ytest,ypred))

20 0.1 0.6822726863813141
20 0.30000000000000004 0.6825363876467369
20 0.5000000000000001 0.6717281954523996
20 0.7000000000000001 0.6728005251319132
20 0.9000000000000001 0.6675551353017397
25 0.1 0.73513584348629
25 0.30000000000000004 0.7377992483834646
25 0.5000000000000001 0.7189910154949427
25 0.7000000000000001 0.7189548288441981
25 0.9000000000000001 0.717463266916085
30 0.1 0.7474119330557072
30 0.30000000000000004 0.7482097770895995
30 0.5000000000000001 0.7459729133861984
30 0.7000000000000001 0.7419070651402472
30 0.9000000000000001 0.737917244668372
35 0.1 0.7483183370418331
35 0.30000000000000004 0.7483431706048295
35 0.5000000000000001 0.7493236856099571
35 0.7000000000000001 0.7481749384863797
35 0.9000000000000001 0.7470741207712828
40 0.1 0.7475553316111605
40 0.30000000000000004 0.7482346106525959
40 0.5000000000000001 0.7493806616811235
40 0.7000000000000001 0.7496886378824399
40 0.9000000000000001 0.7482088187120622
45 0.1 0.7469226339306806
45 0.30000000000000004 0.7491102201780767
45 0.5000000000000001 0.7489627774800488
45 0.7000000000000001 0.7468321673038193
45 0.9000000000000001 0.7464907005468081
50 0.1 0.7463754003569503
50 0.30000000000000004 0.7482201717998105

KeyboardInterrupt: ignored

In [ ]:
rf = RandomForestClassifier(max_features = 0.1,max_depth=30)
rf.fit(X,Y)
ypred = rf.predict(ldnew_test)
write_report('new_rf_reg.csv')

In [ ]:
from sklearn.ensemble import BaggingClassifier
rf = RandomForestClassifier(max_features = 0.5)
bc = BaggingClassifier(n_estimators=50,base_estimator=rf)
bc.fit(xtrain,ytrain)
ypred = bc.predict(xtest)
roc_auc_score(ytest,ypred)

0.7485237141885647

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(loss='exponential')
gbc.fit(xtrain,ytrain)
ypred = gbc.predict(xtest)
roc_auc_score(ytest,ypred)

0.5004346294789221

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
dt = DecisionTreeClassifier()
abc = AdaBoostClassifier(base_estimator=dt,n_estimators=100)
abc.fit(xtrain,ytrain)
ypred = abc.predict(xtest)
roc_auc_score(ytest,ypred)

0.7523923683575248

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier(max_depth=30,learning_rate=0.1)
xgb.fit(xtrain,ytrain)
ypred = xgb.predict(xtest)
roc_auc_score(ytest,ypred)

0.7436305754956007

#Lets apply stratified cross validation and

In [60]:
def skf_val(model):
  from sklearn.model_selection import StratifiedKFold
  skf = StratifiedKFold(n_splits=3)
  X = ldnew.drop('risk_flag',axis=1)
  Y = ldnew['risk_flag']
  for train_index, test_index in skf.split(X,Y):
    xtrain, xtest = X.loc[train_index,:],X.loc[test_index,:]
    ytrain, ytest = Y[train_index],Y[test_index]
    run_model(model)

#xtrain,xtest,ytrain,ytest = train_test_split(X,Y,random_state=31)

In [51]:
def run_model(model):
  knn = model
  knn.fit(xtrain,ytrain)
  ypred = knn.predict(xtest)
  print(d,roc_auc_score(ytest,ypred))

In [52]:
from sklearn.tree import DecisionTreeClassifier
for d in range(3,25):
  skf_val(DecisionTreeClassifier(max_depth=d))

3 0.5
3 0.5
3 0.5
3 0.5
3 0.5
4 0.5
4 0.5
4 0.5
4 0.5
4 0.5
5 0.5003287841191068
5 0.5003287841191068
5 0.5003627207706904
5 0.5003160122609838
5 0.5003160122609838
6 0.5007601080134287
6 0.5007261713618449
6 0.5007601080134287
6 0.5007601080134287
6 0.5007601080134287
7 0.5010680922493067
7 0.5011020289008904
7 0.5011020289008904
7 0.5010680922493067
7 0.5010680922493067
8 0.5025755364180412
8 0.5028415559772296
8 0.5026222449277478
8 0.5026237045686761
8 0.5024157057363888
9 0.5040997664574515
9 0.5042468252809809
9 0.5045000729820465
9 0.5042355130637863
9 0.5042114289884689
10 0.507214275288279
10 0.5073952707633922
10 0.5068960735659028
10 0.5073146256021018
10 0.5072595241570573
11 0.509982119398628
11 0.5103725733469566
11 0.5105043059407385
11 0.5103853452050796
11 0.5104364326375711
12 0.514097576996059
12 0.5145756094000875
12 0.5147595241570574
12 0.5144935045978689
12 0.5151331922347102
13 0.5178054298642534
13 0.5175580207269012
13 0.5182214275288279
13 0.5185345205079551
13 0.5184564297182893
14 0.5224927017953583
14 0.5225988906728944
14 0.5221259670121151
14 0.5223741059699314
14 0.5223835936359656
15 0.523560794044665
15 0.523798350605751
15 0.524348635235732
15 0.522847759451175
15 0.5233553495840023
16 0.5276043643263757
16 0.5263881185228434
16 0.5288571011531163
16 0.5298087870383885
16 0.527424828492191
17 0.5302306232666764
17 0.5311728214859145
17 0.5312319369435119
17 0.531360020434973
17 0.5308210480221864
18 0.5339257042767479
18 0.5342796672018684
18 0.5336567654357027
18 0.5330980878703838
18 0.5351353816961028
19 0.5358119252663844
19 0.5347416435556853
19 0.5362341264049044
19 0.5345340096336301
19 0.5346796088162312
20 0.5347201138519924
20 0.5374514669391329
20 0.5337385053276893
20 0.537205152532477
20 0.5375912275580207
21 0.5381469858414829
21 0.5371204933586338
21 0.5373854181871259
21 0.5363487082177784
21 0.5359837979856955
22 0.5395091957378485
22 0.537091300540067
22 0.5371872719311049
22 0.5385994745292658
22 0.536738797255875
23 0.5384268719894906
23 0.5382823675375858
23 0.5400207998832287
23 0.5394748941760327
23 0.5414213253539629
24 0.5420584586191797
24 0.5441223908918407
24 0.5384965698438184
24 0.5396055320391184
24 0.541474602247847

In [53]:
from sklearn.tree import DecisionTreeClassifier
for d in range(25,50):
  skf_val(DecisionTreeClassifier(max_depth=d))

25 0.540426944971537
25 0.5401339220551745
25 0.5430736388848343
25 0.5394997080718144
25 0.5416818712596702
26 0.5401302729528537
26 0.5390559772296015
26 0.5443460808641074
26 0.5393887753612611
26 0.5412596701211502
27 0.5424040286089621
27 0.542205152532477
27 0.5399416143628668
27 0.5427820756094002
27 0.5424193548387096
28 0.5404565027003356
28 0.5424481827470442
28 0.5427627353670996
28 0.5413716975623996
28 0.5415508684863524
29 0.5424806597576995
29 0.544762443438914
29 0.542227412056634
29 0.5396661071376441
29 0.5439592760180995
30 0.5409940154721938
30 0.5430517442709093
30 0.542992993723544
30 0.5403882644869362
30 0.5408681214421251
31 0.5414906582980586
31 0.5432298204641658
31 0.5420796234126405
31 0.5411085972850678
31 0.5428331630418917
32 0.5389505181725296
32 0.5427583564443146
32 0.5444088454240257
32 0.543023646183039
32 0.5430024813895782
33 0.5393365931980733
33 0.5438804554079697
33 0.5436396146547949
33 0.5430696248722814
33 0.5437031090351775
34 0.5414056342139834
34 0.5440191212961611
34 0.5455050357612027
34 0.5426682236169902
34 0.5426532622974748
35 0.5419008173989198
35 0.5405652459494964
35 0.542284338052839
35 0.5415607210626185
35 0.5433900160560502
36 0.5421037074879579
36 0.5436056780032111
36 0.5428889943074003
36 0.5428795066413662
36 0.5430794774485477
37 0.5426974164355568
37 0.5442409867172675
37 0.5412768209020581
37 0.5435013136768355
37 0.5424554809516858
38 0.5397285067873303
38 0.5440512333965845
38 0.5449810246679316
38 0.5425510874324916
38 0.5409699313968764
39 0.5427167566778572
39 0.5412914173113414
39 0.5412673332360239
39 0.5406137790103636
39 0.5417172675521822
40 0.5427185812290176
40 0.5420927601809955
40 0.5452043497299665
40 0.5421719457013575
40 0.5432440519632171
41 0.5435932710553204
41 0.5424671580791126
41 0.5440472193840316
41 0.5416103488541818
41 0.543208290760473
42 0.5416552328127281
42 0.5429207414975916
42 0.5432371186688075
42 0.5424062180703547
42 0.5439691285943659
43 0.5427864545321851
43 0.5436980002919282
43 0.5413001751569114
43 0.545206904101591
43 0.5397197489417603
44 0.5424799299372354
44 0.546202014304481
44 0.5431075755364181
44 0.5426226098379798
44 0.5409093562983506
45 0.5440767771128302
45 0.539920814479638
45 0.5419577433951248
45 0.541919062910524
45 0.5411695372938257
46 0.5434659173843235
46 0.541817982776237
46 0.5422814187709823
46 0.5412687928769522
46 0.542090570719603
47 0.5417851408553496
47 0.5431677857247118
47 0.5444522697416435
47 0.5422117209166545
47 0.5419405926142169
48 0.542667493796526
48 0.5417508392935338
48 0.5393581229017662
48 0.5407863815501386
48 0.5424408845424026
49 0.5435918114143921
49 0.5421927455845861
49 0.5428360823237484
49 0.5444657714202306
49 0.5440953875346665

In [55]:
from sklearn.tree import DecisionTreeClassifier
for d in range(25,50):
  skf_val(DecisionTreeClassifier(max_depth=d,criterion='entropy'))

25 0.530009122755802
25 0.5294442417165377
25 0.5283236023938112
25 0.5297982046416582
25 0.5287483579039556
26 0.5305736388848343
26 0.532099693475405
26 0.5320734199386951
26 0.5330320391183768
26 0.5322971099109619
27 0.5310888921325354
27 0.5346281564735075
27 0.5335078820610131
27 0.5324919719748942
27 0.5317880601372063
28 0.5340815209458474
28 0.5337392351481536
28 0.5358914756969785
28 0.5313808203182018
28 0.5336286673478324
29 0.5347697416435556
29 0.5338658589986863
29 0.5357320099255584
29 0.5328685593344037
29 0.5355185374397897
30 0.5355382425923223
30 0.5341296890964822
30 0.5360629835060575
30 0.5349419792730988
30 0.5357714202306233
31 0.5363366661801198
31 0.5350806451612904
31 0.5357294555539338
31 0.5374653335279521
31 0.5369592030360532
32 0.5348992847759452
32 0.5353813311925266
32 0.5363034593490003
32 0.5382564589111078
32 0.5362118668807474
33 0.536491753028755
33 0.5368245511604146
33 0.5369683257918553
33 0.5383323602393811
33 0.5366110786746461
34 0.5379298642533937
34 0.5390643701649394
34 0.5367599620493358
34 0.5373471026127572
34 0.5385867026711428
35 0.5388151364764268
35 0.5421380090497737
35 0.5388716975623996
35 0.5387651437746314
35 0.5362479929937235
36 0.5371887315720333
36 0.5367555831265509
36 0.5382852868194424
36 0.5378835206539191
36 0.5380714494234418
37 0.5402817106991679
37 0.5406301999708072
37 0.5384666472047875
37 0.5387976207852868
37 0.5402149321266968
38 0.5369092103342578
38 0.5390807911253831
38 0.5381933294409574
38 0.5385768500948767
38 0.5398894321996789
39 0.5384480367829515
39 0.5362556561085973
39 0.5389012552911984
39 0.5419843818420669
39 0.5375988906728943
40 0.5392333236023937
40 0.5384104510290469
40 0.5386560356152387
40 0.5383998686323165
40 0.5377740475842943
41 0.5382206977083638
41 0.539568676105678
41 0.5371901912129617
41 0.5363005400671436
41 0.5403003211210042
42 0.5394650415997665
42 0.5392004816815064
42 0.5387961611443585
42 0.539195008028025
42 0.5369048314114728
43 0.5366723835936359
43 0.5390227703984819
43 0.5401809954751131
43 0.5379247555101445
43 0.5396336301269888
44 0.5398956356736243
44 0.5386188147715661
44 0.538604948182747
44 0.5393453510436432
44 0.5415479492044957
45 0.5389997810538607
45 0.5397982046416582
45 0.5408856371332652
45 0.5370143044810977
45 0.5375678733031675
46 0.5407546343599474
46 0.541562545613779
46 0.5359071668369582
46 0.5390946577142023
46 0.5385684571595387
47 0.5385994745292657
47 0.5385885272223033
47 0.5394727047146403
47 0.5385483870967741
47 0.5362410596993139
48 0.5381480805721792
48 0.5388414100131367
48 0.5385133557144942
48 0.5391059699313968
48 0.540902423003941
49 0.538481608524303
49 0.5386651583710407
49 0.537337250036491
49 0.5417716391767625
49 0.5383746898263028

In [59]:
from sklearn.ensemble import RandomForestClassifier
for d in range(25,50,3):
  skf_val(RandomForestClassifier(n_estimators=30,max_depth=d))

25 0.49606991680046714
25 0.4962454386220989
25 0.49582250766311486
25 0.4956229017661655
25 0.4967679900744417
28 0.496540286089622
28 0.4952386512917822
28 0.49574770106553784
28 0.4944081156035615
28 0.49662202598160854
31 0.49521201284484023
31 0.4960170048168151
31 0.4953178368121442
31 0.4950434243176179
31 0.4959830681652314
34 0.4956889505181726
34 0.49529667201868344
34 0.4953495840023355
34 0.49569442417165377
34 0.49641877098233833
37 0.4953532331046563
37 0.4956123193694352
37 0.4955174427090936
37 0.4947989344621223
37 0.49410706466209314
40 0.4971460370748796
40 0.49608487811998253
40 0.49546088162312074
40 0.49606115895489705
40 0.49567617866004965
43 0.49427127426653045
43 0.4956604875200701
43 0.4974321266968325
43 0.4959786892424464
43 0.4948595095606481
46 0.49608524303021456
46 0.49582469712450744
46 0.49552036199095023
46 0.4942654357028171
46 0.4963935921763246
49 0.4947040578017808
49 0.49575390453948326
49 0.496236680776529
49 0.4948540359071668
49 0.49825098525762657

In [61]:
from sklearn.ensemble import RandomForestClassifier
for d in range(25,50,3):
  skf_val(RandomForestClassifier(n_estimators=50,max_depth=d))

25 0.49507480659757697
25 0.49701175010947307
25 0.495510509414684
28 0.49521091811414397
28 0.49727120128448404
28 0.4965125529119836
31 0.4943920595533499
31 0.4946157495256167
31 0.4943541088892133
34 0.4951715078090789
34 0.4949281126842797
34 0.49538534520507954
37 0.49480221865421103
37 0.49518427966720185
37 0.4953583418479054
40 0.4954802218654211
40 0.4943438914027149
40 0.49530907896657417
43 0.49476134870821775
43 0.4953357174135163
43 0.49564698584148303
46 0.495286089621953
46 0.4955663406801927
46 0.49477266092541233
49 0.4966205663406802
49 0.4937133265216757
49 0.4956754488395854

In [64]:
from sklearn.neighbors import KNeighborsClassifier
for d in range(3,25,3):
  skf_val(KNeighborsClassifier(n_neighbors=d))

3 0.519375273682674
3 0.519375273682674
3 0.519375273682674
6 0.5159108159392789
6 0.5159108159392789
6 0.5159108159392789
9 0.5193818420668516
9 0.5193818420668516
9 0.5193818420668516
12 0.5173087870383885
12 0.5173087870383885
12 0.5173087870383885
15 0.5193687052984965
15 0.5193687052984965
15 0.5193687052984965
18 0.5183655670705006
18 0.5183655670705006
18 0.5183655670705006
21 0.5201558166690994
21 0.5201558166690994
21 0.5201558166690994
24 0.5181491753028754
24 0.5181491753028754
24 0.5181491753028754

In [65]:
from sklearn.ensemble import RandomForestClassifier
for d in range(3,50,5):
  skf_val(RandomForestClassifier(n_estimators=100,max_depth=d))

3 0.5
3 0.5
3 0.5
8 0.4998981900452489
8 0.4998868778280543
8 0.49986425339366514
13 0.4987968909648226
13 0.49885929061450884
13 0.49874032987884975
18 0.49649941614362864
18 0.49717705444460664
18 0.4970694059261421
23 0.49555064954021316
23 0.4946266968325792
23 0.49534848927163916
28 0.49401510728360826
28 0.4942314990512334
28 0.4947733907458765
33 0.4944508101007153
33 0.4938567362428843
33 0.49503101736972704
38 0.49496460370748796
38 0.49507225222595236
38 0.49444789081885854
43 0.49405342285797693
43 0.4938625748065976
43 0.4947664574514669
48 0.49496569843818417
48 0.49487118668807467
48 0.49516822361699026

In [67]:
from sklearn.ensemble import GradientBoostingClassifier
for d in np.arange(0.1,1,0.2):
  skf_val(GradientBoostingClassifier(learning_rate=d))

0.1 0.5000467085097067
0.1 0.500035396292512
0.1 0.5000467085097067
0.30000000000000004 0.5002922930958984
0.30000000000000004 0.5002470442271202
0.30000000000000004 0.500224419792731
0.5000000000000001 0.5033925704276748
0.5000000000000001 0.5035297766749379
0.5000000000000001 0.5034151948620639
0.7000000000000001 0.5006531893154285
0.7000000000000001 0.5006531893154285
0.7000000000000001 0.5008356444314699
0.9000000000000001 0.5027638300977959
0.9000000000000001 0.5025912275580207
0.9000000000000001 0.5026138519924098