<a href="https://colab.research.google.com/github/shameer-phy/ML/blob/main/Hackathons/segmind/segmind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [ ]:
from google.colab import drive 

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
# Lets read the training dataset and tes dataset

df = pd.read_csv('/content/gdrive/My Drive/Datasets/segmind/TRAIN.csv')
 
df_test = pd.read_csv('/content/gdrive/My Drive/Datasets/segmind/TEST.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.shape

(712046, 9)

In [ ]:
df_test.shape

(305163, 7)

In [ ]:
df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [ ]:
df_test.columns

Index(['Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday'],
      dtype='object')

In [ ]:
df.head()
df.tail()

        Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
712041    342          2  2013-10-01  ...      0             0              0
712042    343          2  2013-10-01  ...      0             0              0
712043    344          2  2013-10-01  ...      0             0              1
712044    345          2  2013-10-01  ...      0             0              0
712045    346          2  2013-10-01  ...      0             0              0

[5 rows x 9 columns]

In [ ]:
print(df.shape)
df.nunique()

(712046, 9)

Store             1115
DayOfWeek            7
Date               669
Sales            20727
Customers         3956
Open                 2
Promo                2
StateHoliday         5
SchoolHoliday        2
dtype: int64

In [ ]:
df.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [ ]:
df.StateHoliday.value_counts()

0    557868
0    131072
a     14546
b      4460
c      4100
Name: StateHoliday, dtype: int64

In [ ]:
df.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64